.sign-input {
  width: 400px;
  margin: auto;
  height: 50px;
}
.sign-input__title {
  line-height: 2px;
  width: 90px;
  text-align: center;
  margin-right:10px;
  display: inline-block;
}
.sign-input__box {
  width: 250px;
  height: 20px;
  border: 1px solid #adadad;
  padding: 5px 10px;
  border-radius: 8px;
}
.sign-input__error {
  display: inline-block;
  overflow: hidden;
  margin: 3px 20px 5px 110px;
  color:red;
  font-size:10px;
}